<div class="row">
	<div class="span12">
		<h1><%= @site.name %></h1>
		<p><%= @site.address %></p>
		<% if((@role) && (@role.id <= 3)) %>
			<%= link_to 'Edit', edit_site_url(@site, :subdomain => 'www') %>
		<% end %>
	</div>
</div>

<div class="row" style="margin-top: 30px;">
	<div class="span8" style="background: #fff; box-shadow: 0px 0px 5px #ccc;">
		<div style="padding: 20px;">
			<%= image_tag 'condo.jpg', :style => "width: 100%;" %>
			<h2 style="margin: 10px 0;">Welcome to Our Community</h2>
			<p style="margin: 0;"><%= @site.description %></p>
		</div>
	</div>
	<div class="span4">
		Info goes here
		<hr>
	</div>
</div>

<% @posts.each do |post| %>
	<div class="row" style="margin-top: 20px;">
		<div class="span8" style="background: #fff; box-shadow: 0px 0px 5px #ccc;">
			<div style="padding: 20px;">
				<h2 style="margin: 10px 0;"><%= post.title %></h2>
				<p style="margin: 0;"><%= post.content %></p>
			</div>
		</div>
		<div class="span4">
			Info goes here
			<hr>
		</div>
	</div>
<% end %>	